{% extends "base.html" %}
{% block content %}
    <h1>Finance Page</h1>
    <p>Welcome to the finance section of our application.</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Department Name</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.customer_name }}</td>
                <td>{{ customer.role }}</td>
                <td>{{ customer.department_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}